section.resources {
    background-image: url('../../images/background.jpg');
    background-size: 100%;
    min-height: 78vh;
    background-position: bottom;
    background-color: black;
}

section.resources article.resourceGallery {
    padding: 2em 0 4em;
}

article.resourceGallery div.singleResource {
    background-color: rgba(200,200,200,.95);
    border-radius: 5px;
    margin: 0;
    border: 2px solid #212529;
    position: relative;
    padding: 0 0 2em 0;
    height: 15em;
}

div.singleResource h3 {
    background-color: rgb(23, 162, 184);
    padding: .5em 0;
    border-bottom: 4px solid #212529;
    color: #212529;
}

div.singleResource p {
    padding: 1em;
}

.singleResource button {
    position: absolute;
    font-size: 1.2em;
    top: .5em;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: .5s;
}

.singleResource button#editLink {
    left: .5em;
}

.singleResource button#deleteLink {
    right: .5em;
}

button#editLink:hover, button#deleteLink:hover {
    background-color: rgb(200,200,200,.95);
    color: rgb(144,45,20);
    border-color: rgb(144,45,20);
}

@media screen and (max-width: 1023px) {
    section.resources {
        background-size: 200%;
    }
}

